<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hellojava.mybatis.dao.IBookDao">
	<select id="loadPage" resultType="book">
		select * from book
	</select>
	<select id="getCount" resultType="int">
		select count(bookId) from book
	</select>
</mapper>